* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: San-Francisco;
  background-color: #4c4c4c;
  color: black;
}
body::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
  background: transparent;
  position: absolute;
}
body::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 0.5rem;
}
